<div class="modal-header">
  <h5 class="modal-title mt-0">{{ title }}</h5>
  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
    <span aria-hidden="true"></span>
  </button>
</div>
<div class="modal-body" >
  <form [formGroup]="formModal">
    <div class="row">
      <div class="col">
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Nombre *</label>
          <div>
            <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="nombre"
              placeholder="Ingresar Nombre"
              maxlength="255"
              [style]="{ width: '100%' }"
            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Apellido Paterno *</label>
          <div>
            <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="apellido_paterno"
              placeholder="Ingresar Apellido Paterno"
              maxlength="255"
              [style]="{ width: '100%' }"
            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Apellido Materno *</label>
          <div>
            <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="apellido_materno"
              placeholder="Ingresar Apellido Materno"
              maxlength="255"
              [style]="{ width: '100%' }"
            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Telefono *</label>
          <div>
            <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="telefono"
              placeholder="Ingresar Telefono"
              maxlength="255"
              [style]="{ width: '100%' }"
            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Rol *</label>
          <div>
            <select
            class="form-control ng-dirty !ng-invalid"
            formControlName="rol">
            <option value="0" selected>Selecciona un tipo</option>
            <option *ngFor="let tipo of roles; let i = index" [value]="roles[i].name">
              {{roles[i].name}}
            </option>
          </select>
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Correo Electronico *</label>
          <div>
              <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="correo_electronico"
              placeholder="Ingresar Correo Electronico"
              maxlength="255"
              [style]="{ width: '100%' }"

            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Contraseña *</label>
          <div>
              <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="password"
              placeholder="Ingresar Contraseña"
              maxlength="255"
              [style]="{ width: '100%' }"
            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-group">
          <label class="form-label requerido">Confirmar Contraseña *</label>
          <div>
              <input
              class="form-control ng-dirty !ng-invalid"
              formControlName="password_confirmation"
              placeholder="Ingresar Contraseña"
              maxlength="255"
              [style]="{ width: '100%' }"
            />
          </div>
          <!--div class="text-danger">
            <div *ngIf="formModal.controls['marca'].errors?.required">
              Campo requerido
            </div>
          </div-->
        </div><!--div.form-group-->
      </div><!--div.col-->
      <div class="mb-3">
        <div class="form-text">* Campos requerido</div>
      </div>
    </div><!--div.col-->
    <div class="col">
      <div class="mb-3">
        <app-web-cam (captureImageEvent)="imagePerfil($event)" [id]="id"></app-web-cam>
      </div>
    </div>
    </div><!--div.row-->
    <!--div.row-->
  </form>
</div>
<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    *ngIf="accion == 'crear'"
    (click)="create()"
    [disabled]="formModal.invalid"
    >
    Guardar
  </button>
  <button
  type="submit"
    class="btn btn-primary"
    *ngIf="accion == 'editar'"
    (click)="edit()"
    [disabled]="formModal.invalid"
    >
    Editar
  </button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
</div>
